.benefits {
  &__inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    &::before {
      content: '';
      background-image: url('../../assets/backgrounds/why_us_bike.webp');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      order: 2;
    }
    
  }
}