@import '../../../scss/keyframes';

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(var(--c-dark), 0.3);
  opacity: 0;
  transition: 0.3s ease-in-out;
  animation: fadeIn 0.25s ease-in-out 0.3s both;
  z-index: 9999;
}