.search-card {
  &__wrap {
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(var(--c-dark), 0.2);
    overflow: hidden;

    &:focus {
      outline: 0;
    }
  }

  &__img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
  }

  &__title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
  }

  &__category {
    font-size: 1.4rem;
    color: rgba(var(--c-dark), 0.5);

  }

  
}