.review-card {
  border-radius: 1rem;
  border: 0.1rem solid rgb(var(--c-gray), 0.5);
  overflow: hidden;
  display: flex;
  max-width: 56rem;

  &__picture {
    max-width: 20rem;
    padding: 2rem 1.9rem;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 1rem;
  }

  &__img {
    width: 19.8rem;
    height: 19.8rem;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__content {
    padding: 1.9rem 0 1rem;
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.36;
    margin-bottom: 1rem;
  }

  &__rating {
    display: flex;
    gap: 5px;
    margin-bottom: 1.5rem;
    &::before, 
    &::after {
      content: '';
      width: 30px;
      height: 25px;
      mask-repeat: space;
      mask-size: 28px;
      mask-position: center;
      mask-image: url('../../../assets/icons/icon-star.svg');
      background-color: rgb(var(--c-gray), 1);
    }

    &[data-stars='1'] {
      &::before {
        width: 33px;
        background-color: rgb(var(--c-orange));
      }
      &::after {
        width: 132px;
      }
    }

    &[data-stars='2'] {

      &::before {
        width: 66px;
        background-color: rgb(var(--c-orange));
      }
      &::after {
        width: 99px;
      }

    }

    &[data-stars='3'] {
      &::before {
        width: 99px;
        background-color: rgb(var(--c-orange));
      }
      &::after {
        width: 66px;
      }
    }

    &[data-stars='4'] {
      &::before {
        width: 132px;
        background-color: rgb(var(--c-orange));
      }
      &::after {
        width: 33px;
      }
    }

    &[data-stars='5'] {
      &::before {
        width: 165px;
        background-color: rgb(var(--c-orange));
      }
      &::after {
        width: 0;
      }
    }
  }
}