@import '../../../scss/mixins';

.bike-card {
  $this: &;

  max-width: 30rem;
  min-width: 20rem;
  
  
  &__link {
    display: flex;
    flex-direction: column;
    &:focus {
      outline: transparent;

      #{$this}__picture {
        border-color: rgb(var(--c-orange-400));
      }
      #{$this}__img {
        transform: scale(1.05);
      }
    }
    @include hover {
      #{$this}__picture {
        border-color: rgb(var(--c-orange-400));
      }
      #{$this}__title {
        color: rgb(var(--c-orange-400));
      }
    }
  }
  &__content {
    padding: 1rem;
    order: 2;
  }

  &__title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    @include line-clamp(2);
    transition: color 0.3s ease-in-out;
  }

  &__picture {
    order: 1;
    border-radius: 1rem;
    border: 0.1rem solid rgba(var(--c-gray-500), 0.5);
    overflow: hidden;

    @include hover {

      #{$this}__img {
        scale: 1.02;
        transform: translateX(8%);
      }
    }

  }

  &__img {
    object-fit: contain;
    transition: var(--anim-all);
  }

  &__price {
    font-size: 2rem;
    color: rgb(var(--c-orange-400));
  }
}