@import '../../../scss/mixins';

.bike-card {
  $this: &;
  max-width: 23.9rem;
  min-height: 35.4rem;
  transition: var(--anim-all);

  @include hover {
    border-radius: 1rem;
    box-shadow: 2px 2px 3px 0 rgb(var(--c-orange));
    .bike-card__inner {
      padding-top: 2rem;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    // &:focus {
    //   outline: transparent;

    //   #{$this}__picture {
    //     border-color: rgb(var(--c-orange));
    //   }
    //   #{$this}__img {
    //     transform: scale(1.05);
    //   }
    // }
    @include hover {
      #{$this}__title {
        color: rgb(var(--c-brown-600));
      }
      #{$this}__price-before {
        color: rgb(var(--c-brown-600));
      }
    }
  }
  &__content {
    padding: 1.35rem 2rem 1rem;
    order: 2;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__title {
    font-size: 1.8rem;
    @include line-clamp(2);
    transition: color 0.3s ease-in-out;
  }

  &__picture {
    padding-top: 1.5rem;
    order: 1;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__img {
    object-fit: contain;
  }

  &__price-before {
    font-size: 1.4rem;
    color: rgb(var(--c-grey));
    text-decoration: line-through;
  }

  &__price {
    color: rgb(var(--c-orange));
  }

  &__btn {
    width: 2.6rem;
    height: 3.6rem;
    margin-top: 0.9rem;
    background-image: url('../../../assets/icons/icon-shopping-cart-active.svg');
    background-color: rgb(var(--c-orange));
    background-repeat: no-repeat;
    background-size: 2.2rem;
    background-position: center;
    border-radius: 1rem;
    cursor: pointer;

    &--selected {
      background-image: url('../../../assets/icons/icon-shopping-cart-inactive.svg');
      background-color: rgb(var(--c-white));
      border: 0.1rem solid rgb(var(--c-orange));
    }
  }
}