$c-white: #ffffff;
$c-gray: #b4aeaa;
$c-brown-200: #7f6654;
$c-brown-400: #554d47;
$c-brown-600: #453e38;
$c-brown-700: #49413a;
$c-dark: #1d1b19;
$c-orange: #ff6f1e;

:root {
  --c-white: 255, 255, 255;
  --c-gray: 180, 174, 170;
  --c-brown-200: 127, 102, 84;
  --c-brown-400: 85, 77, 71;
  --c-brown-600: 69, 62, 56;
  --c-brown-700: 73, 65, 58;
  --c-dark: 29, 27, 25;
  --c-orange: 255, 111, 30;
}