// @import './_mixins.scss';

.icon {
  &::before {
    content: '';
    display: block;
    min-width: 2rem;
    height: 2rem;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: rgb(var(--c-brown-600));
    transition: var(--anim-all);
  }

  @include hoverFocus {
    &::before {
      background-color: rgb(var(--c-orange));
    }
  }

  &:active {
    &::before {
      border-bottom: 0.1rem solid rgb(var(--c-orange));
    }
  }

  &--search {
    &::before {
      mask-image: url('../assets/icons/icon-search.svg');
    }
  }

  &--cart {
    &::before {
      mask-image: url('../assets/icons/icon-cart.svg');
    }
  }

  &--prev {
    @include hoverFocus {
      & {
        background-color: rgb(var(--c-orange));
        border: none;
      }
    }
    @include hoverFocus {
      &::before {
        background-color: rgb(var(--c-white));
      }
    }
    &::before {
      mask-image: url('../assets/icons/icon-arrow-left.svg');
    }
  }

  &--next {
    @include hoverFocus {
      & {
        background-color: rgb(var(--c-orange));
        border: none;
      }
    }

    @include hoverFocus {
      &::before {
        background-color: rgb(var(--c-white));
      }
    }
    &::before {
      mask-image: url('../assets/icons/icon-arrow-right.svg');
    }
  }

  &--fast {
    &::before {
      mask-image: url('../assets/icons/icon-fast-delivery.svg');
    }
  }

  &--delivery {
    &::before {
      width: 4.4rem;
      mask-image: url('../assets/icons/icon-delivery.svg');
    }
  }

  &--sale {
    &::before {
      mask-image: url('../assets/icons/icon-label.svg');
    }
  }

  &--support {
    &::before {
      mask-image: url('../assets/icons/icon-support.svg');
    }
  }

  &--return {
    &::before {
      mask-image: url('../assets/icons/icon-return.svg');
    }
  }

  &--garancy {
    &::before {
      mask-image: url('../assets/icons/icon-checkmark.svg');
    }
  }

  &--cart-unselected {
    &::before {
      mask-image:  url('../assets/icons/icon-shopping-cart-active.svg');
      background-color: rgb(var(--c-white));
    }
  }

  &--cart-selected {
    &::before {
      mask-image:  url('../assets/icons/icon-shopping-cart-inactive.svg');
      background-color: rgb(var(--c-orange));
    }
  }

}
