.reviews-slider {
  position: relative;
  left: 1.3rem;
  bottom: 2.1rem;

  .swiper {
    max-width: calc(100% - 12rem);
    margin: 0 auto;
  }

  &__nav {
    width: 5.2rem;
    height: 5.2rem;
    position: absolute;
    top: calc(50% - 2.62rem);
    background-color: rgb(var(--c-gray));
    border-radius: 1rem;

    &::before {
      background-color: rgb(var(--c-white));
    }
    
    &--prev {
      left: 12px;
      left: 0;
    }

    &--next {
      right: 5px;
    }

    &.swiper-button-disabled {
      background-color: transparent;
      border: 0.1rem solid  rgb(var(--c-gray));
      cursor: not-allowed;
      &::before {
        background-color: rgb(var(--c-brown-300));
      }
    }
  }
}