.footer {
  background-color: rgb(var(--c-brown-700));
  padding: 0.9rem 0;
  color: rgb(var(--c-white));

  &__container {
  padding: 0 0.6rem 0 2.8rem;
  }

  &__nav {
    gap: 11.1rem;
  }

  &__bottom {
    padding: 4.1rem 0 1rem;
  }

  &__copy {
    font-size: 1.4rem;
  }
}
