.footer-nav {
  
  &__col:last-child {
    padding-left: 0.9rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3.7rem;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1.8rem;
    }
  }

  &__link {
    font-size: 1.8rem;
  }
}