.footer {
  background-color: rgb(var(--c-orange-400));
  padding: 6rem 0 3rem;
  color: rgb(var(--c-white));

  &__nav {
    gap: 7.5rem;
  }

  &__address {
    text-align: center;
  }

  &__bottom {
    padding: 4.5rem 0 2.5rem
  }

  &__copy {
    font-size: 2.4rem;
    color: rgb(var(--c-gray-700));
  }
}