.bike-builder {

  background-image: radial-gradient(234.6% 38.29% at 52.08% 56.11%, #554d47 0%, #1d1b19 100%)
  ;

  &__title {
    color: rgb(var(--c-white));
  }

  &__inner {
    min-height: 66rem;
    height: 100%;
    display: flex;
    
    
    &::before {
      content: '';
      display: block;
      min-height: 66rem;
      width: 49rem;
      background-image: url('../../assets/backgrounds/bike_builder.webp');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
      mix-blend-mode: screen;
    }
  }
}