@import '../../scss/mixins';

.builder-box {
  $this: &;
  max-width: 75rem;

  &__group {
    margin-bottom: 3rem;

    &:last-of-type {
      margin-bottom: 6rem;
    }
  }

  &__title {
    font-size: 2.8rem;
    margin-bottom: 3rem;
    color: rgb(var(--c-white));
    text-align: center;
  }

  &__row {
    gap: 1rem;
  }

  &__btn {
    width: 100%;
  }

  &__label {
    display: block;
    padding: 1.5rem;
    width: 100%;
    font-size: 2.4rem;
    color: rgb(var(--c-white));
    text-align: center;
    background-color: rgb(var(--c-gray-550));
    border-radius: 1rem;
    transition: var(--anim-all);
    cursor: pointer;

    &:focus {
      
      outline: 0.3rem solid rgb(var(--c-white));
      outline-offset: -0.3rem;
    }

    @include hover {
      background-color: rgb(var(--c-orange-400));
    }

  }

  &__input {

    &:focus {
      & + #{$this}__label {
        outline: 0.3rem solid rgb(var(--c-white));
        outline-offset: 0.3rem;
      }
    }

    &:checked {

      & + #{$this}__label {
        background-color: rgb(var(--c-orange-400));
      }
    }
  }



}