.builder-icon {
  &::before {
    content: '';
    display: block;
    margin-right: 1rem;
    min-width: 5.2rem;
    min-height: 5.2rem;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: rgb(var(--c-orange));
    transition: var(--anim-all);
  }

  &--road-bike {
    &::before {
      mask-image: url('../../assets/icons/icon-road-bike.svg');
    }
  }

  &--mountain-bike {
    &::before {
      mask-image: url('../../assets/icons/icon-mountain-bike.svg');
    }
  }

  &--city-bike {
    &::before {
      mask-image: url('../../assets/icons/icon-city-bike.svg');
    }
  }

  &--electric-bike {
    &::before {
      mask-image: url('../../assets/icons/icon-electric-bike.svg');
    }
  }

  &--wheel-one {
    &::before {
      mask-image: url('../../assets/icons/icon-wheel.svg');
      mask-size: 4.1rem;
      mask-position: bottom;
      margin-right: 1.8rem;
    }
  }

  &--wheel-two {
    &::before {
      mask-image: url('../../assets/icons/icon-wheel.svg');
      mask-size: 4.8rem;
      mask-position: bottom;
      margin-right: 1.7rem;
    }
  }

  &--wheel-three {
    &::before {
      mask-image: url('../../assets/icons/icon-wheel.svg');
      mask-size: 5.2rem;
      mask-position: bottom;
      margin-right: 1.9rem;
    }
  }

  &--human {
    display: flex;
    align-items: end;

    &::after {
      content: '';
      display: block;
      margin-left: 2rem;
      min-width: 6rem;
      height: 6rem;
      mask-repeat: no-repeat;
      mask-size: contain;
      background-color: rgb(var(--c-orange));
      transition: var(--anim-all);
    }
    &::after {
      mask-image: url('../../assets/icons/icon-man-height.svg');
    }
  }
}