@import '../../scss/mixins';

.builder-box {
  $this: &;
  max-width: 77rem;
  padding-left: 5rem;

  &__group {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 8.4rem;

    &:first-of-type {
      gap: 5rem;
    }

    &:nth-child(2) {
      display: grid;
      grid-template-columns: 0.3fr 1fr; 
      gap: 6rem;  
      margin-bottom: 7.4rem;
    }
  }

  &__title {
    font-size: 3.2rem;
    line-height: 1.4;
    font-weight: 600;
    color: rgb(var(--c-white));
  }

  &__row {
    gap: 2.1rem;
    flex-wrap: wrap;
  }

  &__btn {
    display: flex;  
  }

  &__label {
    height: 5.7rem;
    display: block;
    margin-top: 0.2rem;
    padding: 1.5rem  1.86rem;
    text-align: center;
    background-color: rgb(var(--c-white));
    border-radius: 1rem;
    transition: var(--anim-all);
    cursor: pointer;

    &:focus {
      color: rgb(var(--c-orange));
      box-shadow: 0 0 10px 4px rgba(var(--c-orange), 0.5);
      -webkit-box-shadow: 0 0 10px 4px rgba(var(--c-orange), 0.5);
      -moz-box-shadow: 0 0 10px 4px rgba(var(--c-orange), 0.5);
    }

    @include hover {
      color: rgb(var(--c-orange));
      box-shadow: 0 0 10px 4px rgba(var(--c-orange), 0.5);
      -webkit-box-shadow: 0 0 10px 4px rgba(var(--c-orange), 0.5);
      -moz-box-shadow: 0 0 10px 4px rgba(var(--c-orange), 0.5);
    }
  }

  &__input {
    &:focus {
      & + #{$this}__label {
        color: rgb(var(--c-orange));
        box-shadow: 0px 0px 10px 4px rgba(var(--c-orange), 0.5);
        -webkit-box-shadow: 0px 0px 10px 4px rgba(var(--c-orange), 0.5);
        -moz-box-shadow: 0px 0px 10px 4px rgba(var(--c-orange), 0.5);
      }
    }

    &:checked {
      & + #{$this}__label {
        color: rgb(var(--c-white));
        background-color: rgb(var(--c-brown-200));
        box-shadow: -2px 2px 15px 0px #4F3F33 inset;
        -webkit-box-shadow: -2px 2px 15px 0px #4F3F33 inset;
        -moz-box-shadow: -2px 2px 15px 0px #4F3F33 inset;
      }
    }
  }

  &__height {
    display: flex;
    flex-direction: column;
  }

  &__block {
    padding-bottom: 5.7rem;
    display: grid;
    grid-template-columns: 4fr 0.86fr 0.1fr;
    align-items: end;
  }

  &__input-height {
    width: 11.2rem;
    height: 5.8rem;
    border-radius: 1rem;
    text-align: center;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__range {
    width: 52.5rem;
    height: 1.9rem;
    // background-color: rgb(var(--c-brown-200));
    border: none;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 2.5rem;
      height: 2.5rem;
      background-color: rgb(var(--c-orange));
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }
  }

  &__block-range {
    padding-bottom: 7.9rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
  }

  &__span {
    color: rgb(var(--c-white));
  }
}


.bike-type__label {
  width: 13.8rem;
}