
@import '../../../scss/mixins';

.btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;

  &::before {
    content: '';
    min-width: 2.8rem;
    height: 2.8rem;
    // mask: {
    //   size: contain;
    //   repeat: no-repeat;
    //   position: center;
    // }
  }
  
}