.hero {
  min-height: 85.7rem;
  height: calc(100vh - 16.7rem);
  position: relative;

  &::before,// не знаю чи правильно
  &::after {
    content: '';
    width: 36.7rem;
    height: 100%;
    position: absolute;
    top: 0;
    left:  calc(55.5% - 1rem);
    background: rgb(var(--c-orange));
    z-index: -1;
  }

  &__inner {
    height: 100%;
    display: grid;
    place-items: center left;

    background-image: url('../../assets/backgrounds/hero_bike.webp');
    background-repeat: no-repeat;
    background-size: 86.2rem;
    background-position: center right;//не знаю як змістити по PP
  }

  .hero__content {
    max-width: calc(100vw - 70vw);// не знаю чи правильно
    padding: 0 1.32rem;
    position: relative;
    bottom: 14.8rem;
    box-sizing: border-box; 
  }
  

  &__slogan {
    font-family: var(--f-oswald);
    font-weight: 400;
    font-size: 7.4rem;
    margin-bottom: 2rem;
  }

  &__text {
    font-weight: 600;
    font-size: 3.2rem;
    margin-bottom: 8.2rem;
    line-height: 43.58px;
  }
}