.hero {
  min-height: 70rem;
  height: calc(100vh - 16.7rem); // screen height - header height

  &__inner {
    height: 100%;
    display: grid;
    place-items: center left;
    
    background-image: url('../../assets/backgrounds/hero_bike.webp');
    background-repeat: no-repeat;
    background-size: 75rem;
    background-position: center right;
  }

  &__content {
    max-width: 57.5rem;
  }

  &__slogan {
    color: rgb(var(--c-orange-500));
    font-family: var(--f-kyiv);
    font-weight: 500;
    font-size: 6rem;
    margin-bottom: 6rem;
  }

  &__text {
    font-size: 4rem;
    margin-bottom: 10rem;
  }

  &__btn {
    
  }
}