

.header {
  position: relative;
  padding: 4rem 0 2rem;

  &__inner {
    display: grid;
    grid-template-columns: 3.75fr 2fr 0.5fr; 
    align-items: center;
    padding-left: 2.5rem;
}

  &__actions {
    gap: 3rem;
  }

  &__search {
    position: absolute;
    top: 16rem;
    width: 100%;
    max-width: 131rem;
    translate: calc((100vw - 100%) / 2);
    
  }
}

