

.header {
  position: relative;
  padding: 4rem 0;

  &__inner {
    display: grid;
    grid-template-columns: 3.8fr 2fr 0.5fr; 
    align-items: center;
    padding-left: 2.8rem;
}

  &__actions {
    gap: 2.9rem;
  }

  &__search {
    position: absolute;
    top: 16rem;
    width: 100%;
    max-width: 131rem;
    translate: calc((100vw - 100%) / 2);
    
  }
}

