

.header {
  position: relative;
  padding: 6rem 0 2rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    gap: 2.4rem;
  }

  &__search {
    position: absolute;
    top: 16rem;
    width: 100%;
    max-width: 131rem;
    translate: calc((100vw - 100%) / 2);
    
  }
}

