@import '../../scss/mixins';

.nav {

  &__list {
    display: flex;
    gap: 4.1rem;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 600;

    @include hover {
      color: rgb(var(--c-orange));
    }

    &.current {
      color: rgb(var(--c-orange));
    }
  }
}