@import '../../scss/mixins';

.nav {
  &__list {
    display: flex;
    gap: 4.1rem;
    padding-top: 0.4rem;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 600;

    &.current {
      color: rgb(var(--c-orange));
      border-bottom: 0.1rem solid rgb(var(--c-orange));
    }
  }
  
}
