@import '../../scss/mixins';

.nav {

  &__list {
    display: flex;
    gap: 8rem;
  }

  &__link {
    font-size: 2.7rem;
    color: rgb(var(--c-gray-500));

    @include hover {
      color: rgb(var(--c-orange-400));
    }

    &.current {
      color: rgb(var(--c-orange-400));
    }
  }
}