.bike-slider {
  position: relative;

  .swiper {
    max-width: calc(100% - 10rem);
    margin: 0 auto;
  }
  
  &__nav {
    position: absolute;
    top: calc(50% - 2rem);

    &::before {
      background-color: rgb(var(--c-dark));
    }
    
    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }

    &.swiper-button-disabled {
      cursor: not-allowed;
      &::before {
        background-color: rgba(var(--c-gray-500), 0.5);
      }
    }
  }
}