.bike-slider {
  position: relative;
  left: 2.35rem;
  bottom: 2.1rem;
  
  .swiper {
    max-width: calc(100% - 15rem);
    height: 40rem;
    margin: 0 auto;
  }
  &__card {
    max-width: 23.9rem;
    border-radius: 1rem;
    border: 1px solid rgb(var(--c-gray));
  }

  &__nav {
    width: 5.2rem;
    height: 5.2rem;
    position: absolute;
    top: calc(50% - 3.5rem);
    background-color: rgb(var(--c-gray));
    border-radius: 1rem;

    &::before {
      background-color: rgb(var(--c-white));
    }
    
    &--prev {
      left: -9px;
    }

    &--next {
      right: 14px;
    }

    &.swiper-button-disabled {
      background-color: transparent;
      border: 0.1rem solid  rgb(var(--c-gray));
      cursor: not-allowed;
      &::before {
        background-color: rgb(var(--c-brown-300));
      }
    }
  }

  &__pagination {
    width: 1.9rem;
    height: 0.7rem;
    background-color: rgb(var(--c-gray));
  }
}