.payments {
  gap: 2rem;

  &__item {
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    &--apay {
      width: 63px;
      background-image: url('../../../assets/icons/icon-apay.svg');
    }

    &--gpay {
      width: 75px;
      background-image: url('../../../assets/icons/icon-gpay.svg');
    }

    &--visa {
      width: 38px;
      background-image: url('../../../assets/icons/icon-visa.svg');
    }

    &--mc {
      width: 48px;
      background-image: url('../../../assets/icons/icon-mc.svg');
    }
  }
}